@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4dffc;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

@layer components{
.currency-icon {
  @apply relative flex items-center justify-center h-12 w-12 ml-4  bg-blue-300 
  hover:bg-blue-600 
  rounded-3xl
  transition-all duration-300 ease-linear
  cursor-pointer shadow-lg;

}

.amount {
  @apply w-3/4 flex items-center justify-start
  bg-white text-gray-400 px-2 h-9 ml-0 mr-0 rounded-md shadow-md;
}
.amount-input {
  @apply w-full font-sans font-semibold bg-transparent outline-none text-gray-500 placeholder-gray-500 pl-1 rounded;
}

.quote-container {
  @apply  w-auto flex items-center justify-start
  bg-gray-400 text-gray-900 text-3xl px-2 h-9 ml-0 mr-0 rounded-md shadow-md;
}

.dropdown-item {
  @apply flex flex-row justify-start items-center px-4 py-2 text-xs text-gray-700 hover:bg-gray-400 hover:text-white;
}

.title-header {
  @apply text-lg text-gray-600 font-semibold font-serif;
}
}
